@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Feedback";
}

@model Feed

<div class="container-fluid justify-content-center offset-sm-2">

    <div class="row justify-content-center">
        <div class="col-6">
            <h1>Feedback</h1>
        </div>
    </div>
    <form method="post" asp-action="Feedback">
        <div class="row g-3 align-items-center mt-3">
            <div class="col-sm-6 offset-sm-2">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="Property" type="checkbox" id="Quality" value="quality">
                    <label class="form-check-label" asp-for="Property" for="feedback">Good Quality</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="Property" type="checkbox" id="Maintenance" value="maintenance">
                    <label class="form-check-label" asp-for="Property" for="feedback">Better Maintenance</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" asp-for="Property" id="Service" value="service">
                    <label class="form-check-label" asp-for="Property" for="feedback">Good Service</label>
                </div>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-4">
            <div class="col-4 col-sm-2">
                <label class="col-form-label" asp-for="Comment"></label>
            </div>
            <div class="col-8 col-sm-6">
                <textarea id="comment" class="form-control" asp-for="Comment"></textarea>
            </div>
            <div class="row">
                <span class="text-danger" asp-validation-for="Comment"></span>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-4">
            <div class="col-4 col-sm-2">
                <label class="col-form-label" asp-for="Service"></label>
            </div>
            <div class="col-sm-6">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="service" id="Ok" value="ok">
                    <label class="form-check-label" for="Ok">Ok</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="service" id="Good" value="good">
                    <label class="form-check-label" for="Good">Good</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="service" id="Better" value="better">
                    <label class="form-check-label" for="Better">Better</label>
                </div>
            </div>
        </div>
        <div class="row g-3 align-items-center mt-4">
            <div class="col-4 col-sm-2">
                <label class="col-form-label" asp-for="Rating"></label>
            </div>
            <div class="col-sm-6">
                <input type="range" id="rating" asp-for="Rating" name="rating"
                       min="0" max="10">
            </div>
        </div>

        <div class="row g-3 align-items-center mt-3">
            <div class="col-sm-10">
                <div class="commentBox">
                    @using (Html.BeginForm("Add", "ArticlesComments", FormMethod.Post, new { onsubmit = "return SubmitComment()" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-6 control-label">
                                    Your rating <span style="font-weight:normal;">(1 start is bad, 5 star is good)</span>
                                </label>
                                <div class="col-sm-4">
                                    <div onmouseout="CRateSelected()">
                                        <span class="starFade" id="Rate1" onclick="CRate(1)" onmouseover="CRateOver(1)" onmouseout="CRateOut(1)"></span><span class="starFade" id="Rate2" onclick="CRate(2)" onmouseover="CRateOver(2)" onmouseout="CRateOut(2)"></span><span class="starFade" id="Rate3" onclick="CRate(3)" onmouseover="CRateOver(3)" onmouseout="CRateOut(3)"></span><span class="starFade" id="Rate4" onclick="CRate(4)" onmouseover="CRateOver(4)" onmouseout="CRateOut(4)"></span><span class="starFade" id="Rate5" onclick="CRate(5)" onmouseover="CRateOver(5)" onmouseout="CRateOut(5)"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="row g-3 align-items-center justify-content-end mt-3 mb-3">
            <div class="col-8 col-sm-4">
                <input type="submit" class="btn btn-primary" value="Post" />
                <a type="button" class="btn btn-success" asp-controller="Home" asp-action="Index">Cancel</a>
            </div>
        </div>
    </form>
</div>

@section scripts{
    <script>
        function SubmitComment() {
            if ($("#Rating").val() == "0") {
                alert("Please rate this service provider.");
                return false;
            }
            else {
                return true;
            }
        }

        function CRate(r) {
            $("#Rating").val(r);
            for (var i = 1; i <= r; i++) {
                $("#Rate" + i).attr('class', 'starGlow');
            }
            // unselect remaining
            for (var i = r + 1; i <= 5; i++) {
                $("#Rate" + i).attr('class', 'starFade');
            }
        }

        function CRateOver(r) {
            for (var i = 1; i <= r; i++) {
                $("#Rate" + i).attr('class', 'starGlow');
            }
        }

        function CRateOut(r) {
            for (var i = 1; i <= r; i++) {
                $("#Rate" + i).attr('class', 'starFade');
            }
        }

        function CRateSelected() {
            var setRating = $("#Rating").val();
            for (var i = 1; i <= setRating; i++) {
                $("#Rate" + i).attr('class', 'starGlow');
            }
        }
    </script>
}