<div class="jumbotron mb-2 mt-2" ng-include="todo.component.ts" onload="onLoadDisplay()">
    <h2 class="text-center">TASK LIST</h2>
</div>

<div class="input-group mb-2">
    <input type="text" class="form-control" placeholder="Enter the Task..." #addTask>
    <button class="btn btn-warning"  (click)="onAdd(addTask)"><i class="fa fa-lg fa-plus-circle"    ></i> Add</button>
</div>

<div class="tasklist">
    <ul class="list-group">
        <li class="list-group-item mb-sm-2" *ngFor="let task of taskList; let index = index;" (dblclick)="onDone(index)" >
            {{task}}  
            <span class="hover-cursor text-danger pull-right" (click)="onRemove(index)">
                <i class="fa fa-lg fa-trash-o"></i>
            </span>
        </li>
    </ul>
</div>

