/* You can add global styles to this file, and also import other style files */
span
{
    color: red;
}

body
{
    background-image: linear-gradient(#0e313d,#294452);
}

h1
{
    color: floralwhite;
}

.header
{
    color: floralwhite;
    padding: 5px;
    font-family: Pacifico;
}

.container
{
    color:floralwhite;
}

.books
{
    overflow-x: auto;
}