<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8">
            <form [formGroup]="profileForm"  #Form='ngForm' (ngSubmit)="onAdded()">
                <div class="form-group">
                    <div class="row align-items-center mt-1">
                        <div class="form-group col-sm-3 align-self-center" >
                            <label class="col-form-lable" for="fname">First Name</label>
                        </div>
                        <div class="form-group col-sm-8 align-self-center">
                            <input type="text" class="form-control" name="fname" formControlName='fname' placeholder="FirstName...">
                        </div>
                    </div>
                    <div class="row align-items-center mt-1">
                        <div class="form-group col-sm-3 align-self-center">
                            <label class="col-form-lable" for="lname">Last Name</label>
                        </div>
                        <div class="form-group col-sm-8 align-self-center">
                            <input type="text" class="form-control" name="lname" formControlName='lname' placeholder="LastName...">
                        </div>
                    </div>
                    <div class="row align-items-center mt-1">
                        <div class="form-group col-sm-3 align-self-center">
                            <label class="col-form-lable" for="pnumber">Phone number</label>
                        </div>
                        <div class="form-group col-sm-8 align-self-center">
                            <input type="number" class="form-control" name="pnumber" formControlName='pnumber' placeholder="Phone">
                        </div>
                    </div>
                    <div class="row align-items-center mt-1">
                        <div class="form-group col-sm-3 align-self-center">
                            <label class="col-form-lable" for="email">Email</label>
                        </div>
                        <div class="form-group col-sm-8 align-self-center">
                            <input type="email" class="form-control" name="email" formControlName='email' placeholder="Email">
                        </div>
                    </div>
                    <div class="row align-items-center mt-1">
                        <div class="form-group col-sm-3 align-self-center">
                            <label class="col-form-lable" for="address">Address</label>
                        </div>
                        <div class="form-group col-sm-8 align-self-center">
                            <textarea formControlName='address'></textarea>
                        </div>
                    </div>
                    <div class="row align-items-center mt-1">
                        <div class="form-group col-sm-3 align-self-center">
                            <label class="col-form-lable" for="country">Country</label>
                        </div>
                        <div class="form-group col-sm-8 align-self-center">
                            <select (change)="onSelect($event)" formControlName='country'>
                                <option selected>Select the Country</option>
                                <option *ngFor="let country of countries">{{country.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row align-items-center mt-1">
                        <div class="form-group col-sm-3 align-self-center">
                            <label class="col-form-lable" for="country">State</label>
                        </div>
                        <div class="form-group col-sm-8 align-self-center">
                            <select formControlName='state'>
                                <option>Select the States</option>
                                <option *ngFor="let state of states">{{state}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-sm-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>