@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@500&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header
{
    background-color: #1a7a9c;
    padding: 20px;
    color: floralwhite;
    text-align: center;
}

#addBtn{
    
}

h1
{
    font-family: "STIX+Two+Text"'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 15px;
}

input
{
    width: 75%;
    margin-right: 5px;
    padding: 10px;
    border: none;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 5px;
}

.addBtn
{
    width: 20%;
    padding: 10px;
    margin-left: 5px;
    background-color: rgb(233, 181, 10);
    color: rgb(34, 32, 32);
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.addBtn:hover 
{
    background-color: gold;
    color: #000;
}

ul li 
{
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #B2EBF2;
    font-size: 18px;
    transition: 0.2s;
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) 
{
    background: #80DEEA;
}

ul li:hover 
{
    background: #00838F;
}   

ul li.checked 
{
    background: #00695C ;
    color: #fff;
}

ul li.checked::before 
{
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close 
{
    font: bold;
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover
{
    font-size: 20px;
    
}

li
{
    width: 70%;
    margin-top: 5px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px 0px rgb(37, 36, 36);
}
