@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


header
{
    width: 100%;
    height: 100px;
    background-color: #00ACC1;
    margin-right: 50px;
    font-family: 'Playfair', 'Times New Roman', Times, serif;
    display: inline-flex;
    border-radius: 10px;
}

.heading
{
    width: 30%;
    height: 40px;
    margin-left: 300px;
}

.heading h1
{
    text-align: center;
    font-size: 3rem;
}
.dropdown
{
    position: relative;
    display: inline-block;
    margin-left: 350px;
}

.nav-button
{

    font-size: 50px;
    margin: 25px 25px 0 0;
}

.nav-button:hover
{
    cursor: pointer;
    color: whitesmoke;
}

.nav
{
    display: none;
    position: fixed;
    top: 16mm;
    right: 23mm;
    background-color: #006064;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .nav
{
    display: block;
}

.dropdown ul 
{
    list-style-type: none;
    margin: 25px 5px 15px 0px;
    padding: 0;
    background-color: #006064;
}


.dropdown ul li a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: solid 1px;
}

.dropdown ul li:hover
{
    background-color: #111;
}


.sports-nav .sports li a
{
    color: black;
}

.sports-nav .sports li:hover
{
    background-color: cornsilk;
}

.sports-nav .sports
{
    display: none;
    position: fixed;
    top: 28mm;
    right: 65mm;
    background-color: #82c4de;
    color: black;
    min-width: 160px;
}

.sports-nav:hover .sports
{
    display: block;
}

.image
{
    padding: 15px 0px 15px 0px;
    width: 10%;
}

.news
{
    margin: 5px 10px 10px 10px;
    height: 450px;
}

article
{
    float: left;
    width: 65%;
    height: 400px;
    background-color: #60A0BE;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 15px;
    margin: 20px 10px 10px 25px;
    text-align: center;
    font-size: 2rem;
}

section
{
    width: 80%;
    height: 200px;
    margin: 40px auto 5px auto;
    font-size: 1.5rem;
}

aside
{
    float: right;
    width: 25%;
    height: 300px;
    text-align: center;
    font-size: 2rem;
    background-color: #60A0BE;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 55px 25px 10px 10px;
    border-radius: 15px;
}


footer
{
    width: 100%;
    height: 70px;
    display: inline-flex;
    font-family: 'Playfair';
}

.footer-link
{
    list-style-type: none;
    display: inline-flex;
    background-color: none;
    padding: 10px;
}

.footer-link li a
{
    color: black;
    text-decoration: none;
    padding: 5px;
}

footer p 
{
    text-align: center;
    font-size: 1.5rem;
    margin-left: 300px;
    color: black;
}

body
{
    color: floralwhite;
    overflow: hidden;
    font-family: 'Lato',Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#0e313d,#294452) ;
}