<div class="row header bg-dark">
    <div class="col-12">
        <h1 class="text-center">Register Here</h1>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10">
          <form [formGroup]="profileForm" #Form="ngForm" (ngSubmit)="onSubmit('Form')">
              <div class="form-Group">
                  <div class="row justify-content-center mt-3">
                      <div class="col-12 col-sm-2">
                          <label for="first-name" class="col-form-label">First Name: </label>
                        </div>
                        <div class="col-12 col-sm-4">
                          <input id="first-name" class="form-control" type="text" formControlName="firstName" placeholder="First Name">
                          <div style="color: red;" *ngIf="!profileForm.get('firstName').valid && profileForm.get('firstName').touched" class="help-block">First Name is required</div>
                      </div>
                  </div>
                  <div class="row justify-content-center mt-3">
                      <div class="col-12 col-sm-2">
                          <label for="last-name" class="col-form-label">Last Name: </label>
                        </div>
                        <div class="col-12 col-sm-4">
                          <input id="last-name" class="form-control" type="text" formControlName="lastName" placeholder="Last Name">
                          <div style="color: red;" *ngIf="!profileForm.get('lastName').valid && profileForm.get('lastName').touched" class="help-block">Last Name is required</div>
                      </div>
                  </div>
                  <div class="row justify-content-center mt-3">
                      <div class="col-12 col-sm-2">
                          <label for="phone" class="col-form-label">Phone Number:</label>
                          </div>
                          <div class="col-12 col-sm-4">
                          <input id="phone" class="form-control" type="number" formControlName="phoneNumber" placeholder="Phone Number">
                          <div style="color: red;" *ngIf="!profileForm.get('phoneNumber').valid && profileForm.get('phoneNumber').touched " class="help-block">Phone Number is required</div>
                          
                      </div>
                  </div>
                  <div class="row justify-content-center mt-3">
                      <div class="col-12 col-sm-2">
                          <label for="email" class="col-form-label">Email:</label>
                          </div>
                          <div class="col-12 col-sm-4">
                          <input id="email" class="form-control" type="email" formControlName="emailId" placeholder="Email">
                          <div style="color: red;" *ngIf="!profileForm.get('emailId').valid && profileForm.get('emailId').touched" class="help-block">Email Id is required</div>
                      </div>
                  </div>
                  <div class="row justify-content-center mt-3">
                      <div class="col-12 col-sm-2">
                          <label for="address" class="col-form-label">Address:</label>
                      </div>
                      <div class="cl-12 col-sm-4">
                          <textarea id="address" class="form-control" type="text" formControlName="Address" ></textarea> 
                          <div style="color: red;" *ngIf="!profileForm.get('Address').valid && profileForm.get('Address').touched" class="help-block">Address is required</div>
                      </div>
                  </div>
                  <div class="row justify-content-center mt-3">
                      <div class="col-12 col-sm-2">
                          <label class="col-form-label">Country</label>
                      </div>
                      <div class="col-12 col-sm-4">
                          <div title="Please select the country">
                              <select class="form-select" formControlName="Country" (change)="changeCountry($event)" >
                                <option selected>Select the Country</option>  
                                <option *ngFor ="let count of countryList" [value]="count.name" >{{count.name}} </option>
                              </select>
                          </div>
                    </div>
                
                    <div class="row justify-content-center mt-3">
                        <div class="col-12 col-sm-2">
                          <label>City</label>
                        </div>
                        <div class="col-12 col-sm-4">
                          <div title="Please select the city">
                              <select class="form-select" formControlName="City">
                                  <option *ngFor ="let city of cities">{{city}}  </option>
                              </select>
                          </div>
                        </div>
                    </div>
                </div>
                  <div class="row justify-content-center mt-4">
                      <div class="col-4 col-sm-2">
                          <button type="submit" class="btn btn-primary" [disabled]="!profileForm.valid">Submit</button>
                      </div>
                  </div>
              </div>
          </form>
      
        </div>
      
      </div>
</div>